h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: "Chunk", "Georgia", Helvetica, Arial, sans-serif;
	font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px; @include single-text-shadow;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; @include single-text-shadow;}
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; @include single-text-shadow;}
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }